# Firebase Admin SDK
FIREBASE_PROJECT_ID=carpoolconnect1-0
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Admin Authentication
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3001

# Email (optional)
EMAIL_USER=
EMAIL_PASSWORD=

# Safety Report Email
SAFETY_REPORT_EMAIL=shrijan.bhandari1318@gmail.com
